/* src/styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;



/* Reset and Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
}

body {
  width: 100vw;
  height: 100vh;
  font-size: 1.5rem;
  position: relative;
  overflow-x: hidden;
  background: #fff;
}

